<div class="selection">
	<label for="{{itemName}}-dropdown">{{capitalize itemName}}</label>
	<select id="{{itemName}}-dropdown" name="{{dropdownId}}">
		<option value="">Select a {{itemName}}</option>
        {{{returnDropdown dropdownArray dropdownId props default}}}
	</select>
</div>