<h1>Rental Vehicles Web-App</h1>

<div id="main-text">
    Welcome to the Genesis™ Rental Vehicles Web-App. Please select the vehicle you'd like to rent out along
    with the customer you'd like to rent it to.
</div>

<form id="rental-form">
    <div class="selection">
        <label for="vehicle-dropdown">Vehicle</label>
        <select id="vehicle-dropdown">
            <option>Select a vehicle</option>
            {{#each @vehicles}}
                <option value="{{vehicleid}}">{{vehicleid}} ({{licenseplate}})</option>
            {{/each}}
        </select>

        <label for="customer-dropdown">Customer</label>
        <select id="customer-dropdown">
            <option>Select a customer</option>
            {{#each @customers}}
                <option value="{{customerid}}">{{customerid}} ({{firstname}} {{lastname}})</option>
            {{/each}}
        </select>

        <input type="submit" id="submit-rental" value="Submit"/>
    </div>
</form>